In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from numpy import nan
df = pd.read_csv("titanic_train (1).csv")

In [2]:
df.isnull().sum()

Survived         0
PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
df = df.drop(["PassengerId","Ticket","Cabin"], axis = 1)

In [4]:
df["Family"] = df["SibSp"] + df["Parch"]

In [5]:
df = df.drop (["SibSp","Parch"], axis = 1)

In [6]:
sex_mapping = {"male":0, "female":1}

In [7]:
df["Sex"] = df["Sex"].map(sex_mapping)
df.head()

,Survived,Pclass,Name,Sex,Age,Fare,Embarked,Family
0,0,3,"Braund, Mr. Owen Harris",0,22.0,7.2500,S,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,71.2833,C,1
2,1,3,"Heikkinen, Miss. Laina",1,26.0,7.9250,S,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,53.1000,S,1
4,0,3,"Allen, Mr. William Henry",0,35.0,8.0500,S,0

In [8]:
df_name = df["Name"]

In [9]:
mr_ages = []
for i in range(len(df)):
    if "Mr." in df["Name"][i]:
        mr_ages.append(df["Age"][i])
mr_ages = pd.DataFrame(mr_ages)
mr_ages.dropna()
mr_age = mr_ages.mean().values[0]
mr_age

32.368090452261306

In [10]:
master_ages = []
for i in range(len(df)):
    if "Master." in df["Name"][i]:
        master_ages.append(df["Age"][i])
master_ages = pd.DataFrame(master_ages)
master_ages.dropna()
master_age = master_ages.mean().values[0]
master_age

4.5741666666666667

In [11]:
mrs_ages = []
for i in range(len(df)):
    if "Mrs." in df["Name"][i]:
        mrs_ages.append(df["Age"][i])
mrs_ages = pd.DataFrame(mrs_ages)
mrs_ages.dropna()
mrs_age = mrs_ages.mean().values[0]
mrs_age

35.898148148148145

In [12]:
miss_ages = []
for i in range(len(df)):
    if "Miss." in df["Name"][i]:
        miss_ages.append(df["Age"][i])
miss_ages = pd.DataFrame(miss_ages)
miss_ages.dropna()
miss_age = miss_ages.mean().values[0]
miss_age

21.773972602739725

In [13]:
df["Age"] = df["Age"].fillna(0)

In [14]:
for i in range(len(df)):
    if "Mr." in df["Name"][i] and df["Age"][i] == 0:
        df["Age"][i] = mr_age

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [15]:
for i in range(len(df)):
    if "Master." in df["Name"][i] and df["Age"][i] == 0:
        df["Age"][i] = master_age

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [16]:
for i in range(len(df)):
    if "Mrs." in df["Name"][i] and df["Age"][i] == 0:
        df["Age"][i] = mrs_age

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [17]:
for i in range(len(df)):
    if "Miss." in df["Name"][i] and df["Age"][i] == 0:
        df["Age"][i] = miss_age

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [18]:
dummy_df = pd.get_dummies(df["Embarked"])

In [19]:
df = pd.merge(df,dummy_df,left_index = True, right_index = True)

In [20]:
df = df.drop(["Name","Embarked"],axis = 1)

In [21]:
X = df.iloc[:,1:9].values

In [22]:
y = df.loc[:,["Survived"]].values

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.3,random_state=0)

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc_1 = RandomForestClassifier(random_state = 0, n_estimators = 10)
rfc_1.fit(X_train,y_train)

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  app.launch_new_instance()

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [25]:
print("train accuracy: %.3f" % rfc_1.score(X_train,y_train))
print("test accuracy: %.3f" % rfc_1.score(X_test,y_test))

train accuracy: 0.957
test accuracy: 0.802

In [26]:
df_test = pd.read_csv("titanic_test (1).csv")

In [27]:
df_test = df_test.drop(["Ticket","Cabin"],axis=1)

In [28]:
df_test["Family"] = df_test["SibSp"] + df_test["Parch"]

In [29]:
df_test = df_test.drop (["SibSp","Parch"], axis = 1)

In [30]:
df_test["Sex"] = df_test["Sex"].map(sex_mapping)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,Fare,Embarked,Family
0,892,3,"Kelly, Mr. James",0,34.5,7.8292,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,7.0000,S,1
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,9.6875,Q,0
3,895,3,"Wirz, Mr. Albert",0,27.0,8.6625,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,12.2875,S,2

In [31]:
df_test_name = df_test["Name"]

In [32]:
mr_ages_test = []
for i in range(len(df_test)):
    if "Mr." in df_test["Name"][i]:
        mr_ages_test.append(df_test["Age"][i])
mr_ages_test = pd.DataFrame(mr_ages_test)
mr_ages_test.dropna()
mr_age_test = mr_ages_test.mean().values[0]
mr_age_test

32.0

In [33]:
master_ages_test = []
for i in range(len(df_test)):
    if "Master." in df_test["Name"][i]:
        master_ages_test.append(df_test["Age"][i])
master_ages_test = pd.DataFrame(master_ages_test)
master_ages_test.dropna()
master_age_test = master_ages_test.mean().values[0]
master_age_test

7.4064705882352939

In [34]:
mrs_ages_test = []
for i in range(len(df_test)):
    if "Mrs." in df_test["Name"][i]:
        mrs_ages_test.append(df_test["Age"][i])
mrs_ages_test = pd.DataFrame(mrs_ages_test)
mrs_ages_test.dropna()
mrs_age_test = mrs_ages_test.mean().values[0]
mrs_age_test

38.903225806451616

In [35]:
miss_ages_test = []
for i in range(len(df_test)):
    if "Miss." in df_test["Name"][i]:
        miss_ages_test.append(df_test["Age"][i])
miss_ages_test = pd.DataFrame(miss_ages_test)
miss_ages_test.dropna()
miss_age_test = miss_ages_test.mean().values[0]
miss_age_test

21.774843750000002

In [36]:
df_test["Age"] = df_test["Age"].fillna(0)

In [37]:
for i in range(len(df_test)):
    if "Mr." in df_test["Name"][i] and df_test["Age"][i] == 0:
        df_test["Age"][i] = mr_age_test

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [38]:
for i in range(len(df_test)):
    if "Master." in df_test["Name"][i] and df_test["Age"][i] == 0:
        df_test["Age"][i] = master_age_test

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [39]:
for i in range(len(df_test)):
    if "Mrs." in df_test["Name"][i] and df_test["Age"][i] == 0:
        df_test["Age"][i] = mrs_age_test

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [40]:
for i in range(len(df_test)):
    if "Miss." in df_test["Name"][i] and df_test["Age"][i] == 0:
        df_test["Age"][i] = miss_age_test

/Users/UG/.pyenv/versions/anaconda3-4.1.1/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [41]:
dummy_df_test = pd.get_dummies(df_test["Embarked"])

In [42]:
df_test = pd.merge(df_test,dummy_df_test,left_index = True, right_index = True)

In [43]:
df_test = df_test.drop(["Embarked","Name"],axis = 1)

In [44]:
df_test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
Fare           1
Family         0
C              0
Q              0
S              0
dtype: int64

In [45]:
df_test.head()

   PassengerId  Pclass  Sex   Age     Fare  Family  C  Q  S
0          892       3    0  34.5   7.8292       0  0  1  0
1          893       3    1  47.0   7.0000       1  0  0  1
2          894       2    0  62.0   9.6875       0  0  1  0
3          895       3    0  27.0   8.6625       0  0  0  1
4          896       3    1  22.0  12.2875       2  0  0  1

In [46]:
df_test["Fare"].fillna(df_test.Fare.median(),inplace=True)

In [47]:
X_test = df_test.iloc[:,0:8].values

In [48]:
y_test_pred =rfc_1.predict(X_test)

In [50]:
PassengerId =np.array(df_test["PassengerId"]).astype(int)
my_solution = pd.DataFrame(y_test_pred, PassengerId, columns = ["Survived"])
my_solution.to_csv("titanic_out.csv", index_label = ["PassengerId"])